.idea/*
!.idea/runConfigurations/*
node_modules/
target/
logs/*

*.iml

# ForgeRock #
#############
set-creds.sh
local-vm-test.sh

forgerock-openbanking-sample-tpp/src/main/resources/keystore/*
generate-keys/tpp/*
forgerock-openbanking-sample-tpp/src/main/resources/backup/preregisteredForgeTppSample.json
